<header>
    <div class="frontmatter">
        <a href="/">
            <img src="/assets/favicon.svg" />
            <h1>buzl.uk</h1>
        </a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/gallery">Gallery</a>
        <a href="/contact">Contact</a>
        <a href="/now">Now</a>
        <a href="/links">Links</a>
    </nav>
    <search>
        <form action="/search.html" method="get">
            <input
                type="search"
                name="q"
                placeholder="Type something to search..."
                autocomplete="off"
            />
            <button type="submit">Search</button>
        </form>
    </search>
</header>
<hr />
