:root {
    --width: 80ch;
    --red: #f66151;
    --color: #1f2937;
    --primary: #ffffff;
    --secondary: #f6f8fa;
    --border-color: #d0d7de;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf")
        format("truetype");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto Mono";
    src: url("/assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf")
        format("truetype");
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Default styles */
html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--primary);
}

body {
    padding: 0;
    margin: 0 1rem;
    max-width: var(--width);
    font-family: "Cantarell", sans-serif;
}

main {
    padding: 0 1rem;
    background-color: var(--secondary);
    border: 1px solid var(--border-color);
}

p {
    word-break: break-word;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

kbd {
    padding: 4px;
    font-size: 12px;
    font-family: "Cantarell", sans-serif;
    border: 1px solid var(--border-color);
}

ul,
ol {
    padding-left: 3ch;
    list-style-type: decimal;
}

img {
    max-width: 100%;
    height: auto;
}

dialog {
    outline: none;
}

hr {
    margin: 1rem 0;
    border: none;
    border-top: 1px solid var(--border-color);
}

pre {
    color: #ffffff;
    background-color: #272935;
    padding: 1rem;
    overflow-x: auto;
}

pre code {
    padding-inline-end: 1rem;
    font-family: "Roboto Mono", monospace;
    font-size: 13.6px;
}

match {
    color: #ffffff;
    background-color: #ef0fff;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 1;
    padding: 1rem 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

nav a.active {
    text-decoration: underline;
}

.frontmatter a {
    color: var(--red);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    text-decoration: none;
    width: fit-content;
}

.frontmatter h1 {
    font-size: 24px;
    margin: 0;
}

/* Search */
search form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--primary);
}

search input {
    display: flex;
    flex: 1;
    border: none;
    background-color: unset;
    outline: none;
}

search button {
    padding: 0;
    font-weight: bold;
    color: var(--color);
    background-color: unset;
    border: 1px solid var(--primary);
    margin-left: auto;
}

search button:hover {
    color: var(--red);
    font-weight: bold;
    text-decoration: underline;
}

#search-query {
    display: inline-block;
}

#search-results {
    padding-left: 0;
}

#search-results li + li {
    margin-top: 1rem;
}

#search-results li {
    display: flex;
    flex-direction: column;
}

#search-results li a {
    margin: 0;
    width: fit-content;
}

#search-results li p {
    margin: 0;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem 0;
}

footer time {
    display: inline-block;
    width: 4ch;
    min-width: 4ch;
}

footer a {
    width: fit-content;
}

footer p {
    margin: 0;
}

footer img {
    width: 32px;
    height: 32px;
}

/* Gallery */
.img-container {
    display: flex;
    margin: 1rem 0;
}

.img-container img {
    cursor: pointer;
}

/* Now */
#top-artists:empty::before,
#last-songs:empty::before {
    content: "Loading...";
}

#last-songs {
    padding-left: 0;
    list-style-type: none;
}

#last-songs li {
    margin: 0;
}

#last-songs img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

#last-songs a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
}

#last-songs a:hover {
    background-color: var(--primary);
}

#last-songs p {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#last-songs .index {
    width: 1ch;
    color: #666;
}

#last-songs .name {
    color: var(--color);
    font-weight: bold;
}

#last-songs .artist {
    color: #666;
}

/* Blog */
#blog-list {
    padding-left: 0;
    list-style-type: none;
}

.blog-item {
    display: flex;
    align-items: start;
    gap: 1rem;
}

.blog-item time {
    display: inline-block;
    text-wrap: nowrap;
    font-family: "Liberation Mono", monospace;
    font-size: 16px;
    line-height: normal;
    width: fit-content;
}

/* Post */
.post-title {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-style: italic;
}

.post-author {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.post-author img {
    width: 50px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
}

.post-author div {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

.post-author p {
    margin: 0;
}

.post-author span {
    font-weight: bold;
}

.post-author time {
    color: #666;
}

/* Mobile view */
@media (max-width: 768px) {
    body {
        margin: 0;
        border: none;
    }

    main {
        border-left: none;
        border-right: none;
    }

    /* Header */
    header {
        padding: 1rem;
    }
    kbd {
        display: none;
    }
    search input {
        padding-left: 4px;
    }

    /* Footer */
    footer {
        padding: 1rem;
    }
}
