@import url("https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
    --width: 768px;
    --color: #1f2937;
    --background-color: #f1f5f9;
    --highlight-color: #f66151;
    --border-color: #d0d7de;
}

html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: var(--background-color);
}

body {
    margin: auto;
    padding: 1rem;
    color: var(--color);
    max-width: var(--width);
    line-height: 1.5;
    font-size: 1rem;
    text-align: left;
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    /* border: 1px solid var(--border-color); */
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

hr {
    margin: 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
}

h2 {
    text-transform: uppercase;
}

h2::before {
    content: "#";
    margin-right: 0.5rem;
}

header {
    display: grid;
    gap: 0.5rem;
}

header img {
    height: 32px;
    width: 32px;
    margin-right: 0.5rem;
    border-radius: 0.25rem;
}

a {
    color: inherit;
    font-size: inherit;
    font-style: normal;
    text-decoration: none;
    border-bottom: 3px solid var(--highlight-color);
    display: inline-block;
    font-weight: 500;
}

a:hover {
    border-color: var(--color);
}

nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

button {
    cursor: pointer;
}

search form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0.5rem;
}

search input {
    padding: 8px;
    border: 1px solid #d0d7de;
    border-radius: 0.25rem;
}

search button {
    border: none;
    border-radius: 0.25rem;
    background-color: var(--highlight-color);
    font-weight: 700;
    padding: 0.5rem 1rem;
}

search button:hover {
    box-shadow: inset 0 0 0 2px var(--color);
}

search button:active {
    opacity: 0.8;
}

ol,
ul {
    margin: 0;
    padding-left: 3ch;
}

ol {
    list-style-type: decimal-leading-zero;
}

footer {
    text-align: center;
    padding: 0;
    margin-top: 1rem;
}

mark {
    color: var(--color);
    background-color: var(--highlight-color);
    padding: 0.25rem;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
}

pre {
    font-family: "Comic Mono", monospace;
    color: #f8f8f2;
    background-color: var(--color);
    padding: 1rem;
    border-radius: 0.25rem;
    overflow-x: auto;
}

code {
    color: inherit;
    background-color: initial;
    padding: 0;
    border-radius: 0;
    font-size: unset;
    padding-inline-end: 1rem;
}

iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
}

abbr {
    text-decoration: none;
    background-color: var(--highlight-color);
    padding: 0.125rem 0.25rem;
}

.frontmatter {
    display: flex;
    align-items: center;
}

.frontmatter a {
    display: contents;
    line-height: 32px;
}

.img-container {
    display: flex;
    position: relative;
    cursor: pointer;
}

.dither {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    margin: 0.75rem;
}

.mate {
    width: 32px;
    height: 32px;
    background-color: transparent;
    box-shadow: none;
}

.screenmate {
    position: fixed;
    bottom: 0;
    right: 32px;
    width: 32px;
    height: 32px;
    z-index: 1000;
    background-color: transparent;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.125);
}

.pagination-link {
    color: var(--main-color) !important;
    text-decoration: none;
    border: unset;
}

.pagination-link:hover {
    background-color: unset;
    text-decoration: none;
    border-bottom: 3px solid var(--main-color);
}

spinner::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 32px;
    aspect-ratio: 1 !important;
    content: "progress_activity";
    font-family: "Material Symbols Outlined";
    animation: spin 1s linear infinite;
}

spinner[icon]::after {
    content: attr(icon);
}

spinner[reverse]::after {
    animation-direction: reverse;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blog-posts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
}

.blog-post {
    border: none;
    display: flex;
    align-items: baseline;
}

.blog-post:active p,
.blog-post:hover p {
    color: var(--color);
}

.blog-post p {
    text-wrap: wrap;
    color: var(--highlight-color);
}

.blog-post hr {
    flex: 1 1 auto;
    border-style: dashed;
    margin: 0 0.5rem;
}

.blog-post .date {
    width: 11ch;
    flex-shrink: 0;
    text-wrap: nowrap;
    font-family: monospace;
    font-size: 14px;
}
