---
layout: default
title: buzl.uk | Blog
---
<h2>All Posts</h2>
<!-- This loops through the paginated posts -->
<section>
    <ul id="blog-list">
        {% for post in paginator.posts %}
        <li class="blog-item">
            <time>{{ post.date | date_to_string }}</time>
            <a href="{{ post.url }}" class="blog-post">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
<!-- Pagination links -->
<p>
    <span> Page: {{ paginator.page }} of {{ paginator.total_pages }} </span>
    <br />
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="pagination-link">
        « Previous
    </a>
    <span>|</span>
    {% endif %} {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="pagination-link">Next »</a>
    {% endif %}
</p>
