<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=5"
        />
        <title>{{ page.title }}</title>
        <link rel="canonical" href="https://www.buzl.uk/" />
        <meta name="title" content="Buzl.uk" />
        <meta name="description" content="kaangiray26's personal website" />

        <meta property="og:site_name" content="Buzl.uk" />
        <meta property="og:title" content="Buzl.uk" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.buzl.uk/" />
        <meta
            property="og:description"
            content="kaangiray26's personal website"
        />
        <meta
            property="og:image"
            content="https://kaangiray26.github.io/images/buzluk.png"
        />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="https://www.buzl.uk/" />
        <meta property="twitter:title" content="Buzl.uk" />
        <meta
            property="twitter:description"
            content="kaangiray26's personal website"
        />
        <meta
            property="twitter:image"
            content="https://kaangiray26.github.io/images/buzluk.png"
        />

        <link
            rel="shortcut icon"
            type="image/svg+xml"
            href="/assets/favicon.svg"
        />
        <link rel="stylesheet" href="/assets/styles.css" />
        <link
            rel="alternate"
            type="application/rss+xml"
            href="{{ site.url }}/feed.xml"
            title="{{ site.title }}"
        />
        <link href="https://github.com/kaangiray26" rel="me" />
        <script src="/assets/scripts.js"></script>
    </head>

    <body>
        {% include header.html %}
        <main>{{ content }}</main>
        {% include footer.html %}
    </body>
</html>
